:root {
  --branding-color: #3d3d43;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #272142;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: gray;
  color: var(--secondary-color);
}

.btn-projects {
  border: 1px solid #337ca9;
  background-color: #337ca9;
  color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 18px 6px 50px -13px rgba(0, 0, 0, 0.56);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-projects:hover {
  background-color: var(--branding-color);
  color: var(--secondary-color);
}

.ramen-image {
  width: 560px;
  height: 360px;
}
.project-description {
  padding: 120px 60px;
}

.content-container {
  margin-left: x;
}

.content-container h1 {
  font-size: 64px;
  margin-top: 260px;
  line-height: 85px;
}

.content-container h2 {
  line-height: 100px;
  font-family: var(--default-font-family);
  font-size: 18px;
}

.content-container p {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 200;
}

.self-portrait {
  margin: 260px 200px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 6px 42px -13px rgba(0, 0, 0, 0.84);
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.app-img {
  width: 813px;
  height: 813px;
}

@media (max-width: 991px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .self-portrait {
    max-width: 100%;
    display: block;
    margin: 50px auto;
  }
}
